# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# # React + TypeScript + Vite with SWC compilation

# For material deps:

# npm install @mui/material @emotion/react @emotion/styled

# npm install @fontsource/roboto @mui/icons-material -E

# ________________________________________________

# For 
# npm install ts-standard -D